<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{792,1491},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{946,1114},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonbackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{881,1114},{190,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>downCraft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{76,61}</string>
                <key>textureRect</key>
                <string>{{792,1428},{76,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{700,1114},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptyBullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{774,1552},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,87}</string>
                <key>spriteSourceSize</key>
                <string>{312,87}</string>
                <key>textureRect</key>
                <string>{{792,1114},{312,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameoverBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,667}</string>
                <key>spriteSourceSize</key>
                <string>{375,667}</string>
                <key>textureRect</key>
                <string>{{1,1},{375,667}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{688,1623},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{964,892},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpScene-cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,568}</string>
                <key>spriteSourceSize</key>
                <string>{320,568}</string>
                <key>textureRect</key>
                <string>{{378,1},{320,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpScene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,568}</string>
                <key>spriteSourceSize</key>
                <string>{320,568}</string>
                <key>textureRect</key>
                <string>{{378,571},{320,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>launchBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,568}</string>
                <key>spriteSourceSize</key>
                <string>{320,568}</string>
                <key>textureRect</key>
                <string>{{700,1},{320,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftAircraft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,69}</string>
                <key>spriteSourceSize</key>
                <string>{84,69}</string>
                <key>textureRect</key>
                <string>{{688,1552},{84,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lifeIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{376,1659},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matrix-568.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,319}</string>
                <key>spriteSourceSize</key>
                <string>{318,319}</string>
                <key>textureRect</key>
                <string>{{700,571},{318,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matrix.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,369}</string>
                <key>spriteSourceSize</key>
                <string>{373,369}</string>
                <key>textureRect</key>
                <string>{{1,1339},{373,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matrix_puls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,409}</string>
                <key>spriteSourceSize</key>
                <string>{412,409}</string>
                <key>textureRect</key>
                <string>{{378,1141},{412,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{881,1306},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,262}</string>
                <key>spriteSourceSize</key>
                <string>{220,262}</string>
                <key>textureRect</key>
                <string>{{700,892},{220,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scrollImage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,667}</string>
                <key>spriteSourceSize</key>
                <string>{375,667}</string>
                <key>textureRect</key>
                <string>{{1,670},{375,667}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,105}</string>
                <key>spriteSourceSize</key>
                <string>{310,105}</string>
                <key>textureRect</key>
                <string>{{376,1552},{310,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>findAircraft.png</string>
            <key>size</key>
            <string>{1021,1709}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a41e2e67665858f274f490ee5e71521:90b38fa54427398495605f877b5a33be:4336882b6b0760c9820927e1072ecf45$</string>
            <key>textureFileName</key>
            <string>findAircraft.png</string>
        </dict>
    </dict>
</plist>
