<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{992,50},{17,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{1017,1},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonbackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{415,1019},{190,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{992,1},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptyBullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{1017,19},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,87}</string>
                <key>spriteSourceSize</key>
                <string>{312,87}</string>
                <key>textureRect</key>
                <string>{{522,1087},{312,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameoverBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,667}</string>
                <key>spriteSourceSize</key>
                <string>{375,667}</string>
                <key>textureRect</key>
                <string>{{1,1},{375,667}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{992,26},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{607,1019},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpScene-cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,568}</string>
                <key>spriteSourceSize</key>
                <string>{320,568}</string>
                <key>textureRect</key>
                <string>{{670,1},{320,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpScene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,568}</string>
                <key>spriteSourceSize</key>
                <string>{320,568}</string>
                <key>textureRect</key>
                <string>{{670,571},{320,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lifeIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{607,1053},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matrix-568.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,319}</string>
                <key>spriteSourceSize</key>
                <string>{318,319}</string>
                <key>textureRect</key>
                <string>{{611,1141},{318,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matrix.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,369}</string>
                <key>spriteSourceSize</key>
                <string>{373,369}</string>
                <key>textureRect</key>
                <string>{{1,1166},{373,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matrix_puls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,409}</string>
                <key>spriteSourceSize</key>
                <string>{412,409}</string>
                <key>textureRect</key>
                <string>{{1,755},{412,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{376,1166},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,262}</string>
                <key>spriteSourceSize</key>
                <string>{220,262}</string>
                <key>textureRect</key>
                <string>{{415,755},{220,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scrollImage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,667}</string>
                <key>spriteSourceSize</key>
                <string>{375,667}</string>
                <key>textureRect</key>
                <string>{{1,378},{375,667}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>youwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,105}</string>
                <key>spriteSourceSize</key>
                <string>{310,105}</string>
                <key>textureRect</key>
                <string>{{415,1084},{310,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>findCraft.png</string>
            <key>size</key>
            <string>{1024,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3456f068deb1ff75850f6123450aba30:b3fe71b930ad153d363ee5804bf08095:b1d37d0c5bb1124fa01104223336300d$</string>
            <key>textureFileName</key>
            <string>findCraft.png</string>
        </dict>
    </dict>
</plist>
